.main {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.container {
  margin: 0 auto;
  max-width: 1000px;
  width: 100%;
}

.nav {
  z-index: 1;
  position: relative;
  display: grid;
  row-gap: 100px;
  padding: 0 50px;
}

.nav_item {
  position: relative;
  display: grid;
  justify-items: flex-start;
  row-gap: 5px;
  position: relative;
  opacity: 1;
  transition: transform 0.4s ease-in, opacity 0.4s ease-in;
}

.nav_item:nth-child(2n) {
  justify-self: flex-end;
}

.hidden {
  opacity: 0;
  transform: translateX(-500px);
}

.hidden:nth-child(2n) {
  transform: translatex(500px);
}

.fly {
  transform: translateY(-500px);
  opacity: 0;
}

.nav_item:not(:last-child) {
  margin-right: 100px;
}

.link {
  position: relative;
  display: inline-block;
  font-family: 'GetVoIP', Helvetica, sans-serif;
  font-size: 100px;
  line-height: 100px;
  font-weight: normal;
  overflow: hidden;
  color: transparent;
  -webkit-text-stroke: 2px #030117;
}

.outer {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  color: #030117;
  transform: translateX(-100%);
  -webkit-text-stroke: 2px #c4c3c1;
}

.inner {
  display: inline-block;
  transform: translateX(100%);
}

.outer,
.inner {
  transition: transform 0.25s linear;
}

.link:hover .outer,
.link:hover .inner {
  transform: none;
}

[data-animation='to-top'] .outer {
  transform: translateY(100%);
}

[data-animation='to-top'] .inner {
  transform: translateY(-100%);
}

.wrapper {
  position: absolute;
  bottom: 100%;
  left: 12px;
  display: grid;
  row-gap: 10px;
}

.index {
  font-size: 20px;
  line-height: 20px;
  font-weight: 700;
  color: #030117;
}

.line {
  width: 2px;
  height: 48px;
  background-color: #030117;
  transition: height 0.25s linear;
}

.line_active {
  height: 96px;
}

.scene {
  position: absolute;
}

.selected {
  z-index: 10;
}

@media (max-width: 992px) {
  .nav {
    padding: 30px;
  }
  .link {
    font-size: 80px;
    line-height: 80px;
  }
}

@media (max-width: 576px) {
  .nav {
    padding: 16px;
    row-gap: 65px;
  }
  .index{
    font-weight: 600;
    font-size: 12px;
    line-height: 130%;
  }
  .line {
    height: 24px;
  }
  .link {
    font-size: 48px;
    line-height: 130%;
  }
  .wrapper {
    left: 5px;
  }
  .scene {
    display: none;
  }
}
