@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --blackColor: #000000;
}

* {
  outline: none;
  -webkit-tap-highlight-color: transparent;
}

@font-face { font-family: GetVoIP; src: url('../src/fonts/GetVoIP Grotesque.ttf'); }

@font-face {
  font-family: Manifold;
  src: url("../src/fonts/ManifoldExtendedCF-Light.woff2") format("woff2"),
  url("../src/fonts/ManifoldExtendedCF-Light.woff") format("woff"),
  url("../src/fonts/ManifoldExtendedCF-Light.eot") format("eot");
  font-weight: 300;
}
@font-face {
  font-family: Manifold;
  src: url("../src/fonts/ManifoldExtendedCF-Regular.woff2") format("woff2"),
  url("../src/fonts/ManifoldExtendedCF-Regular.woff") format("woff"),
  url("../src/fonts/ManifoldExtendedCF-Regular.eot") format("eot");
  font-weight: 400;
}

@font-face {
  font-family: Manifold;
  src: url("../src/fonts/ManifoldExtendedCF-Bold.woff2") format("woff2"),
  url("../src/fonts/ManifoldExtendedCF-Bold.woff") format("woff"),
  url("../src/fonts/ManifoldExtendedCF-Bold.eot") format("eot");
  font-weight: 700;
}

@font-face {
  font-family: Cubenzis-Light;
  src: url("../src/fonts/Cubenzis-Light.woff2") format("woff2"),
  url("../src/fonts/Cubenzis-Light.woff2") format("woff");
  font-weight: 300;
}

@font-face {
  font-family: Cubenzis-Regular;
  src: url("../src/fonts/Cubenzis-Regular.woff2") format("woff2"),
  url("../src/fonts/Cubenzis-Regular.woff") format("woff");
  font-weight: 400;
}

@font-face {
  font-family: Cubenzis-Bold;
  src: url("../src/fonts/Cubenzis-Bold.woff2") format("woff2"),
  url("../src/fonts/Cubenzis-Bold.woff") format("woff");
  font-weight: 700;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-color: #fff;
}

.view.auth {
  background-image: url('./../src/img/bg.jpg');
  position: relative;
  width: 100%;
  min-height: 100vh;
  font-family: Manifold, Arial, sans-serif;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.view.screen {

}

.view {
  padding: 50px 0;
}

.container {
  z-index: 1;
  position: relative;
  margin: 0 auto;
  max-width: 1240px;
  width: 100%;
}

.header {
  display: flex;
  justify-content: center;
  margin-bottom: 32px;
}

.header__logo {
  width: 277px;
  height: 135px;
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url('./../src/img/logo.png');
}

.main {
  display: grid;
  row-gap: 80px;
  padding: 0 16px;
}

.wrapper,
.wrapper-second {
  opacity: 1;
  transition: opacity 0.3s linear, transform 0.3s linear;
}

.title {
  justify-self: center;
  text-align: center;
  font-family: GetVoIP;
  font-size: 48px;
  line-height: 63px;
  font-weight: normal;
  margin-bottom: 32px;
}

.form {
  display: flex;
  align-items: center;
  justify-content: center;
}

.form__input {
  border: 2px solid #B5B4BA;
  border-radius: 16px;
  max-width: 282px;
  height: 48px;
  width: 100%;
  margin-right: 24px;
  background: linear-gradient(135.37deg, rgba(0, 0, 0, 0.4) 4.29%, rgba(255, 255, 255, 0.4) 95.6%), #EAECF0;
  background-blend-mode: soft-light, normal;
  border: 1px solid rgba(255, 255, 255, 0.5);
  box-shadow: -9px -9px 24px #FAFBFF, 9px 9px 24px #C5C8D7;
  border-radius: 8px;
  display: flex;
  align-items: center;
  padding-left: 16px;
}

.form__input-button {
  padding: 24px;
  width: 88px;
  height: 88px;
  border-right: 2px solid #B5B4BA;
  cursor: pointer;
}

.form__input-button-icon {
  width: 100%;
  height: 100%;
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
}

.form__input-button-icon_reis {
  background-image: url('./../src/img/airlines.svg');
}

.form__input-button-icon_date {
  background-image: url('./../src/img/date_range.svg');
}


.form__input-content-description {
  height: min-content;
  font-size: 18px;
  line-height: 24px;
  font-family: Cubenzis-Light;
}

.auth-wrapper {
  position: relative;
  height: 48px;
  max-width: 282px;
  width: 100%;
  overflow: hidden;
  cursor: pointer;
  background: #EAECF0;
  box-shadow: -12px -12px 24px #FAFBFF, 12px 12px 24px #C5C8D7;
  border-radius: 8px;
  padding: 4px;
}

.form__btn,
.form__btn_hover {
  height: 100%;
  width: 100%;
  border-radius: 7px;
  font-family: GetVoIP;
  font-size: 16px;
  line-height: 21px;
  font-weight: 700;
}

/* .auth-wrapper:hover .form__btn {
  display: none;
} */

.form__btn_hover {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
}

.auth-wrapper:hover .form__btn_hover {
  display: block;
  background-color: #B5B4BA;
  border: 2px solid #B5B4BA;
  color: #fff;
}


iframe {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  opacity: 0.001;
}

.cosmos {
  width: 100%;
}

.cosmos,
.countdown {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  font-family: Manifold, Arial, sans-serif;
  font-weight: 900;
  font-size: 53px;
  text-align: center;
}

.cosmos {
  display: inline-block;
  color: #FFDA01;
  font-size: 70px;
  top: -8px;
  transition: all 1500ms;
}

.micro {
  transform: translateX(-50%) scale(0);
}

.micro.normal {
  transform: translateX(-50%) scale(1);
}

.hidden {
  display: none !important;
}

.interactive-wrapper {
  position: relative;
  margin-bottom: 32px;
}

.description {
  margin: 0 auto;
  display: grid;
  row-gap: 60px;
  max-width: 703px;
  margin-bottom: 32px;
  padding-left: 35px;
  padding-right: 35px;
  font-family: Cubenzis-Light;
}

.description__text {
  text-align: center;
  font-size: 16px;
  line-height: 21px;
  font-weight: 300;
}

.bold {
  font-weight: 700;
}

.wrapper_video{
  display: flex;
  align-items: center;
  justify-content: center;
}

.inner_video{
  background: linear-gradient(135.37deg, rgba(0, 0, 0, 0.4) 4.29%, rgba(255, 255, 255, 0.4) 95.6%), #EAECF0;
  background-blend-mode: soft-light, normal;
  border: 2px solid rgba(255, 255, 255, 0.4);
  box-shadow: -12px -12px 24px #FAFBFF, 12px 12px 24px #C5C8D7;
  border-radius: 16px;
  padding: 16px;
}

.video {
  width: 760px;
  margin: auto;
  border-radius: 16px;
}

.wrapper-hidden,
.wrapper-second-hidden {
  opacity: 0;
}

.wrapper-hidden {
  transform: translateX(-100px);
}

.wrapper-hidden {
  transform: translateX(100px);
}

.removed {
  display: none;
}

@media (max-width: 800px) {

  .header__logo {
    width: 123px;
    height: 60px;
  }

  .wrapper_video{
    order: 2;
  }

  .form {
    flex-direction: column;
    row-gap: 8px;
  }

  .form__input {
    margin-right: 0px;
    max-width: 328px;
  }

  .auth-wrapper{
    max-width: 328px;
  }

  .interactive-wrapper{
    order: 3;
  }

  .inner_video{
    padding: 8px;
  }

  .form__btn {
    font-size: 14px;
    line-height: 17px;
  }

  .wrapper {
    display: flex;
    flex-direction: column;
  }

  .auth-wrapper{
    margin-bottom: 0px !important;
  }

  .interactive-wrapper{
    margin-bottom: 0px;
  }

  .interactive-wrapper {
    margin-top: 24px;
  }

  .cosmos, .countdown {
    transform: translateX(-50%) translateY(-50%) scale(1);
    top: 50%;
  }

  .cosmos {
    font-size: 30px;
  }

  .cosmos.micro {
    transform: translateX(-50%) translateY(-50%) scale(0);
  }

  .title {
    font-size: 24px;
    line-height: 32px;
    margin-bottom: 24px;
  }

  .form__input-content-description {
    font-size: 12px;
    line-height: 16px;
  }

  .description__text {
    font-size: 12px;
    line-height: 14px;
  }

  .auth-wrapper {
    height: 45px;
    width: 100%;
    margin-bottom: 45px;
    margin-top: 16px;
  }

  .description {
    margin-bottom: 24px;
    padding: 0px;
  }

  .description__text {
    font-size: 16px;
    line-height: 24px;
  }

  .video {
    width: 100%;
    margin: auto;
    border-radius: 8px;
  }
}

.screen-title {
  color: yellow;
  background-color: #1d1e1e;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 1.3em;
  font-weight: bold;
  display: flex;
  align-items: center;
  border-top-right-radius: 16px;
  border-top-left-radius: 16px;
}

i {
  margin-right: 0.5em;
}

footer {
  color: rgba(255, 255, 255, 0.3);
  font-size: 0.8em;
  margin-top: 2em;
}

a {
  color: rgba(255, 255, 255, 0.3);
}

.wrapper_departure {
  display: flex;
  justify-content: center;
  margin-top: 80px;
}

.inner_departure {
  display: flex;
  flex-direction: column;
  background: linear-gradient(135.37deg, rgba(0, 0, 0, 0.4) 4.29%, rgba(255, 255, 255, 0.4) 95.6%), #A3A2A0;
  background-blend-mode: soft-light, normal;
  border: 2px solid rgba(255, 255, 255, 0.2);
  box-shadow: -4px -4px 16px #CED0D6, 4px 4px 16px #5F5C70;
  border-radius: 16px;
  padding: 8px;
}

.departure-board {
  display: inline-flex;
}

.departure-board:last-of-type span:first-child,
.departure-board:last-of-type span:first-child::after{
  border-bottom-left-radius: 16px;
}

.departure-board:last-of-type span:last-child,
.departure-board:last-of-type span:last-child::after{
  border-bottom-right-radius: 16px;
}

.plane-departure {
  display: inline-block;
  background-image: url('../src/img/plane-departure.svg');
  width: 40px;
  height: 30px;
  margin-right: 10px;
  margin-left: 10px;
  background-repeat: no-repeat;
}

.letter {
  background-color: #000;
  border-right: 1px solid #1d1e1e;
  color: #000;
  display: flex;
  flex-direction: column;
  height: 40px;
  text-align: center;
  width: 30px;
}

.letter::before {
  background-color: #000;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  font-size: 15px;
  height: 25px;
  line-height: 46px;
  overflow: hidden;
  width: 100%;
  z-index: 20;
  font-weight: bold;
}

.letter::after {
  background-color: #000;
  flex-grow: 0;
  font-size: 15px;
  height: 30px;
  line-height: 28px;
  margin-top: -50%;
  overflow: hidden;
  width: 100%;
  z-index: 10;
  font-weight: bold;
}


@media (min-width: 992px) and (max-width: 1200px){
  .letter::before {
    font-size: 15px;
    height: 30px;
    line-height: 30px;
  }
  .letter::after {
    font-size: 15px;
    height: 40px;
    line-height: 20px;
  }
  .letter {
    height: 30px;
    width: 25px;
  }
}

@media (max-width: 700px){
  .letter::before {
    font-size: 6px;
    height: 20px;
    line-height: 28px;
    border: none;
  }
  .letter::after {
    font-size: 6px;
    height: 30px;
    line-height: 10px;
  }
  .letter {
    height: 30px;
    width: 9px;
    border: none;
  }
  .screen-title{
    font-size: 0.9em;
  }
  .plane-departure{
    width: 30px;
    height: 20px;
  }
}

@media (min-width: 700px) and (max-width: 992px){
  .letter::before {
    font-size: 12px;
    height: 20px;
    line-height: 27px;
    border: none;
  }
  .letter::after {
    font-size: 12px;
    height: 20px;
    line-height: 9px;
  }
  .letter {
    height: 30px;
    width: 20px;
    border: none;
  }
}

@media (max-width: 992px){
  .departure-board:first-of-type {
    display: none;
  }

  .departure-board:last-of-type {
    display: none;
  }

  .inner_departure {
    padding: 4px;
  }
  .departure-board:nth-last-child(-n+2) span:first-child,
  .departure-board:nth-last-child(-n+2) span:first-child::after{
    border-bottom-left-radius: 16px;
  }

  .departure-board:nth-last-child(-n+2) span:last-child,
  .departure-board:nth-last-child(-n+2) span:last-child::after{
    border-bottom-right-radius: 16px;
  }

}
/* Blank letter */
.letter-blank::before {
  content: " ";
}

.letter-blank::after {
  content: " ";
}

/* dynamic function for character classes */
.letter-A::before {
  content: "A";
}

.letter-A::after {
  content: "A";
}

.letter-B::before {
  content: "B";
}

.letter-B::after {
  content: "B";
}

.letter-C::before {
  content: "C";
}

.letter-C::after {
  content: "C";
}

.letter-D::before {
  content: "D";
}

.letter-D::after {
  content: "D";
}

.letter-E::before {
  content: "E";
}

.letter-E::after {
  content: "E";
}

.letter-F::before {
  content: "F";
}

.letter-F::after {
  content: "F";
}

.letter-G::before {
  content: "G";
}

.letter-G::after {
  content: "G";
}

.letter-H::before {
  content: "H";
}

.letter-H::after {
  content: "H";
}

.letter-I::before {
  content: "I";
}

.letter-I::after {
  content: "I";
}

.letter-J::before {
  content: "J";
}

.letter-J::after {
  content: "J";
}

.letter-K::before {
  content: "K";
}

.letter-K::after {
  content: "K";
}

.letter-L::before {
  content: "L";
}

.letter-L::after {
  content: "L";
}

.letter-M::before {
  content: "M";
}

.letter-M::after {
  content: "M";
}

.letter-N::before {
  content: "N";
}

.letter-N::after {
  content: "N";
}

.letter-O::before {
  content: "O";
}

.letter-O::after {
  content: "O";
}

.letter-P::before {
  content: "P";
}

.letter-P::after {
  content: "P";
}

.letter-Q::before {
  content: "Q";
}

.letter-Q::after {
  content: "Q";
}

.letter-R::before {
  content: "R";
}

.letter-R::after {
  content: "R";
}

.letter-S::before {
  content: "S";
}

.letter-S::after {
  content: "S";
}

.letter-T::before {
  content: "T";
}

.letter-T::after {
  content: "T";
}

.letter-U::before {
  content: "U";
}

.letter-U::after {
  content: "U";
}

.letter-V::before {
  content: "V";
}

.letter-V::after {
  content: "V";
}

.letter-W::before {
  content: "W";
}

.letter-W::after {
  content: "W";
}

.letter-X::before {
  content: "X";
}

.letter-X::after {
  content: "X";
}

.letter-Y::before {
  content: "Y";
}

.letter-Y::after {
  content: "Y";
}

.letter-Z::before {
  content: "Z";
}

.letter-Z::after {
  content: "Z";
}

.letter-0::before {
  content: "0";
}

.letter-0::after {
  content: "0";
}

.letter-1::before {
  content: "1";
}

.letter-1::after {
  content: "1";
}

.letter-2::before {
  content: "2";
}

.letter-2::after {
  content: "2";
}

.letter-3::before {
  content: "3";
}

.letter-3::after {
  content: "3";
}

.letter-4::before {
  content: "4";
}

.letter-4::after {
  content: "4";
}

.letter-5::before {
  content: "5";
}

.letter-5::after {
  content: "5";
}

.letter-6::before {
  content: "6";
}

.letter-6::after {
  content: "6";
}

.letter-7::before {
  content: "7";
}

.letter-7::after {
  content: "7";
}

.letter-8::before {
  content: "8";
}

.letter-8::after {
  content: "8";
}

.letter-9::before {
  content: "9";
}

.letter-9::after {
  content: "9";
}

.letter-А::before {
  content: "А";
}

.letter-А::after {
  content: "А";
}

.letter-Б::before {
  content: "Б";
}

.letter-Б::after {
  content: "Б";
}

.letter-В::before {
  content: "В";
}

.letter-В::after {
  content: "В";
}

.letter-Г::before {
  content: "Г";
}

.letter-Г::after {
  content: "Г";
}

.letter-Д::before {
  content: "Д";
}

.letter-Д::after {
  content: "Д";
}

.letter-Е::before {
  content: "Е";
}

.letter-Е::after {
  content: "Е";
}

.letter-Ё::before {
  content: "Ё";
}

.letter-Ё::after {
  content: "Ё";
}

.letter-Ж::before {
  content: "Ж";
}

.letter-Ж::after {
  content: "Ж";
}

.letter-З::before {
  content: "З";
}

.letter-З::after {
  content: "З";
}

.letter-И::before {
  content: "И";
}

.letter-И::after {
  content: "И";
}

.letter-Й::before {
  content: "Й";
}

.letter-Й::after {
  content: "Й";
}

.letter-К::before {
  content: "К";
}

.letter-К::after {
  content: "К";
}

.letter-Л::before {
  content: "Л";
}

.letter-Л::after {
  content: "Л";
}

.letter-М::before {
  content: "М";
}

.letter-М::after {
  content: "М";
}

.letter-Н::before {
  content: "Н";
}

.letter-Н::after {
  content: "Н";
}

.letter-О::before {
  content: "О";
}

.letter-О::after {
  content: "О";
}

.letter-П::before {
  content: "П";
}

.letter-П::after {
  content: "П";
}

.letter-Р::before {
  content: "Р";
}

.letter-Р::after {
  content: "Р";
}

.letter-С::before {
  content: "С";
}

.letter-С::after {
  content: "С";
}

.letter-Т::before {
  content: "Т";
}

.letter-Т::after {
  content: "Т";
}

.letter-У::before {
  content: "У";
}

.letter-У::after {
  content: "У";
}

.letter-Ф::before {
  content: "Ф";
}

.letter-Ф::after {
  content: "Ф";
}

.letter-Х::before {
  content: "Х";
}

.letter-Х::after {
  content: "Х";
}

.letter-Ц::before {
  content: "Ц";
}

.letter-Ц::after {
  content: "Ц";
}

.letter-Ч::before {
  content: "Ч";
}

.letter-Ч::after {
  content: "Ч";
}

.letter-Ш::before {
  content: "Ш";
}

.letter-Ш::after {
  content: "Ш";
}

.letter-Щ::before {
  content: "Щ";
}

.letter-Щ::after {
  content: "Щ";
}

.letter-Э::before {
  content: "Э";
}

.letter-Э::after {
  content: "Э";
}

.letter-Ю::before {
  content: "Ю";
}

.letter-Ю::after {
  content: "Ю";
}

.letter-Я::before {
  content: "Я";
}

.letter-Я::after {
  content: "Я";
}

.letter-Ь::before {
  content: "Ь";
}

.letter-Ь::after {
  content: "Ь";
}

.letter-Ъ::before {
  content: "Ъ";
}

.letter-Ъ::after {
  content: "Ъ";
}

.letter-Ы::before {
  content: "Ы";
}

.letter-Ы::after {
  content: "Ы";
}

.letter-question::before {
  content: "?";
}

.letter-question::after {
  content: "?";
}

.letter-dot::before {
  content: ".";
}

.letter-dot::after {
  content: ".";
}

.letter-comma::before {
  content: ",";
}

.letter-comma::after {
  content: ",";
}

.letter-exclam::before {
  content: "!";
}

.letter-exclam::after {
  content: "!";
}

.letter-tri::before {
  content: "∆";
}

.letter-tri::after {
  content: "∆";
}

/* Letter animations */
.departure-board .animated:nth-child(1):before {
  animation: flip 1s 1 ease-in-out;
  animation-delay: 0.25s;
  animation-fill-mode: forwards;
  backface-visibility: hidden;
  transform-style: preserve-3d;
  transition-delay: 0.25s;
}

.departure-board .animated:nth-child(1):after {
  animation: flip 1s 1 ease-in-out;
  animation-delay: 0.25s;
  animation-fill-mode: forwards;
  backface-visibility: hidden;
  transition-delay: 0.25s;
  transform-style: preserve-3d;
}

.departure-board .animated:nth-child(2):before {
  animation: flip 1s 1 ease-in-out;
  animation-delay: 0.5s;
  animation-fill-mode: forwards;
  backface-visibility: hidden;
  transform-style: preserve-3d;
  transition-delay: 0.5s;
}

.departure-board .animated:nth-child(2):after {
  animation: flip 1s 1 ease-in-out;
  animation-delay: 0.5s;
  animation-fill-mode: forwards;
  backface-visibility: hidden;
  transition-delay: 0.5s;
  transform-style: preserve-3d;
}

.departure-board .animated:nth-child(3):before {
  animation: flip 1s 1 ease-in-out;
  animation-delay: 0.75s;
  animation-fill-mode: forwards;
  backface-visibility: hidden;
  transform-style: preserve-3d;
  transition-delay: 0.75s;
}

.departure-board .animated:nth-child(3):after {
  animation: flip 1s 1 ease-in-out;
  animation-delay: 0.75s;
  animation-fill-mode: forwards;
  backface-visibility: hidden;
  transition-delay: 0.75s;
  transform-style: preserve-3d;
}

.departure-board .animated:nth-child(4):before {
  animation: flip 1s 1 ease-in-out;
  animation-delay: 1s;
  animation-fill-mode: forwards;
  backface-visibility: hidden;
  transform-style: preserve-3d;
  transition-delay: 1s;
}

.departure-board .animated:nth-child(4):after {
  animation: flip 1s 1 ease-in-out;
  animation-delay: 1s;
  animation-fill-mode: forwards;
  backface-visibility: hidden;
  transition-delay: 1s;
  transform-style: preserve-3d;
}

.departure-board .animated:nth-child(5):before {
  animation: flip 1s 1 ease-in-out;
  animation-delay: 1.25s;
  animation-fill-mode: forwards;
  backface-visibility: hidden;
  transform-style: preserve-3d;
  transition-delay: 1.25s;
}

.departure-board .animated:nth-child(5):after {
  animation: flip 1s 1 ease-in-out;
  animation-delay: 1.25s;
  animation-fill-mode: forwards;
  backface-visibility: hidden;
  transition-delay: 1.25s;
  transform-style: preserve-3d;
}

.departure-board .animated:nth-child(6):before {
  animation: flip 1s 1 ease-in-out;
  animation-delay: 1.5s;
  animation-fill-mode: forwards;
  backface-visibility: hidden;
  transform-style: preserve-3d;
  transition-delay: 1.5s;
}

.departure-board .animated:nth-child(6):after {
  animation: flip 1s 1 ease-in-out;
  animation-delay: 1.5s;
  animation-fill-mode: forwards;
  backface-visibility: hidden;
  transition-delay: 1.5s;
  transform-style: preserve-3d;
}

.departure-board .animated:nth-child(7):before {
  animation: flip 1s 1 ease-in-out;
  animation-delay: 1.75s;
  animation-fill-mode: forwards;
  backface-visibility: hidden;
  transform-style: preserve-3d;
  transition-delay: 1.75s;
}

.departure-board .animated:nth-child(7):after {
  animation: flip 1s 1 ease-in-out;
  animation-delay: 1.75s;
  animation-fill-mode: forwards;
  backface-visibility: hidden;
  transition-delay: 1.75s;
  transform-style: preserve-3d;
}

.departure-board .animated:nth-child(8):before {
  animation: flip 1s 1 ease-in-out;
  animation-delay: 2s;
  animation-fill-mode: forwards;
  backface-visibility: hidden;
  transform-style: preserve-3d;
  transition-delay: 2s;
}

.departure-board .animated:nth-child(8):after {
  animation: flip 1s 1 ease-in-out;
  animation-delay: 2s;
  animation-fill-mode: forwards;
  backface-visibility: hidden;
  transition-delay: 2s;
  transform-style: preserve-3d;
}

.departure-board .animated:nth-child(9):before {
  animation: flip 1s 1 ease-in-out;
  animation-delay: 2.25s;
  animation-fill-mode: forwards;
  backface-visibility: hidden;
  transform-style: preserve-3d;
  transition-delay: 2.25s;
}

.departure-board .animated:nth-child(9):after {
  animation: flip 1s 1 ease-in-out;
  animation-delay: 2.25s;
  animation-fill-mode: forwards;
  backface-visibility: hidden;
  transition-delay: 2.25s;
  transform-style: preserve-3d;
}

.departure-board .animated:nth-child(10):before {
  animation: flip 1s 1 ease-in-out;
  animation-delay: 2.5s;
  animation-fill-mode: forwards;
  backface-visibility: hidden;
  transform-style: preserve-3d;
  transition-delay: 2.5s;
}

.departure-board .animated:nth-child(10):after {
  animation: flip 1s 1 ease-in-out;
  animation-delay: 2.5s;
  animation-fill-mode: forwards;
  backface-visibility: hidden;
  transition-delay: 2.5s;
  transform-style: preserve-3d;
}

.departure-board .animated:nth-child(11):before {
  animation: flip 1s 1 ease-in-out;
  animation-delay: 2.75s;
  animation-fill-mode: forwards;
  backface-visibility: hidden;
  transform-style: preserve-3d;
  transition-delay: 2.75s;
}

.departure-board .animated:nth-child(11):after {
  animation: flip 1s 1 ease-in-out;
  animation-delay: 2.75s;
  animation-fill-mode: forwards;
  backface-visibility: hidden;
  transition-delay: 2.75s;
  transform-style: preserve-3d;
}

.departure-board .animated:nth-child(12):before {
  animation: flip 1s 1 ease-in-out;
  animation-delay: 3s;
  animation-fill-mode: forwards;
  backface-visibility: hidden;
  transform-style: preserve-3d;
  transition-delay: 3s;
}

.departure-board .animated:nth-child(12):after {
  animation: flip 1s 1 ease-in-out;
  animation-delay: 3s;
  animation-fill-mode: forwards;
  backface-visibility: hidden;
  transition-delay: 3s;
  transform-style: preserve-3d;
}

.departure-board .animated:nth-child(13):before {
  animation: flip 1s 1 ease-in-out;
  animation-delay: 3.25s;
  animation-fill-mode: forwards;
  backface-visibility: hidden;
  transform-style: preserve-3d;
  transition-delay: 3.25s;
}

.departure-board .animated:nth-child(13):after {
  animation: flip 1s 1 ease-in-out;
  animation-delay: 3.25s;
  animation-fill-mode: forwards;
  backface-visibility: hidden;
  transition-delay: 3.25s;
  transform-style: preserve-3d;
}

.departure-board .animated:nth-child(14):before {
  animation: flip 1s 1 ease-in-out;
  animation-delay: 3.5s;
  animation-fill-mode: forwards;
  backface-visibility: hidden;
  transform-style: preserve-3d;
  transition-delay: 3.5s;
}

.departure-board .animated:nth-child(14):after {
  animation: flip 1s 1 ease-in-out;
  animation-delay: 3.5s;
  animation-fill-mode: forwards;
  backface-visibility: hidden;
  transition-delay: 3.5s;
  transform-style: preserve-3d;
}

.departure-board .animated:nth-child(15):before {
  animation: flip 1s 1 ease-in-out;
  animation-delay: 3.75s;
  animation-fill-mode: forwards;
  backface-visibility: hidden;
  transform-style: preserve-3d;
  transition-delay: 3.75s;
}

.departure-board .animated:nth-child(15):after {
  animation: flip 1s 1 ease-in-out;
  animation-delay: 3.75s;
  animation-fill-mode: forwards;
  backface-visibility: hidden;
  transition-delay: 3.75s;
  transform-style: preserve-3d;
}

.departure-board .animated:nth-child(16):before {
  animation: flip 1s 1 ease-in-out;
  animation-delay: 4s;
  animation-fill-mode: forwards;
  backface-visibility: hidden;
  transform-style: preserve-3d;
  transition-delay: 4s;
}

.departure-board .animated:nth-child(16):after {
  animation: flip 1s 1 ease-in-out;
  animation-delay: 4s;
  animation-fill-mode: forwards;
  backface-visibility: hidden;
  transition-delay: 4s;
  transform-style: preserve-3d;
}

.departure-board .animated:nth-child(17):before {
  animation: flip 1s 1 ease-in-out;
  animation-delay: 4.25s;
  animation-fill-mode: forwards;
  backface-visibility: hidden;
  transform-style: preserve-3d;
  transition-delay: 4.25s;
}

.departure-board .animated:nth-child(17):after {
  animation: flip 1s 1 ease-in-out;
  animation-delay: 4.25s;
  animation-fill-mode: forwards;
  backface-visibility: hidden;
  transition-delay: 4.25s;
  transform-style: preserve-3d;
}

.departure-board .animated:nth-child(18):before {
  animation: flip 1s 1 ease-in-out;
  animation-delay: 4.5s;
  animation-fill-mode: forwards;
  backface-visibility: hidden;
  transform-style: preserve-3d;
  transition-delay: 4.5s;
}

.departure-board .animated:nth-child(18):after {
  animation: flip 1s 1 ease-in-out;
  animation-delay: 4.5s;
  animation-fill-mode: forwards;
  backface-visibility: hidden;
  transition-delay: 4.5s;
  transform-style: preserve-3d;
}

.departure-board .animated:nth-child(19):before {
  animation: flip 1s 1 ease-in-out;
  animation-delay: 4.75s;
  animation-fill-mode: forwards;
  backface-visibility: hidden;
  transform-style: preserve-3d;
  transition-delay: 4.75s;
}

.departure-board .animated:nth-child(19):after {
  animation: flip 1s 1 ease-in-out;
  animation-delay: 4.75s;
  animation-fill-mode: forwards;
  backface-visibility: hidden;
  transition-delay: 4.75s;
  transform-style: preserve-3d;
}

.departure-board .animated:nth-child(20):before {
  animation: flip 1s 1 ease-in-out;
  animation-delay: 5s;
  animation-fill-mode: forwards;
  backface-visibility: hidden;
  transform-style: preserve-3d;
  transition-delay: 5s;
}

.departure-board .animated:nth-child(20):after {
  animation: flip 1s 1 ease-in-out;
  animation-delay: 5s;
  animation-fill-mode: forwards;
  backface-visibility: hidden;
  transition-delay: 5s;
  transform-style: preserve-3d;
}

.departure-board .animated:nth-child(21):before {
  animation: flip 1s 1 ease-in-out;
  animation-delay: 5.25s;
  animation-fill-mode: forwards;
  backface-visibility: hidden;
  transform-style: preserve-3d;
  transition-delay: 5.25s;
}

.departure-board .animated:nth-child(21):after {
  animation: flip 1s 1 ease-in-out;
  animation-delay: 5.25s;
  animation-fill-mode: forwards;
  backface-visibility: hidden;
  transition-delay: 5.25s;
  transform-style: preserve-3d;
}

.departure-board .animated:nth-child(22):before {
  animation: flip 1s 1 ease-in-out;
  animation-delay: 5.5s;
  animation-fill-mode: forwards;
  backface-visibility: hidden;
  transform-style: preserve-3d;
  transition-delay: 5.5s;
}

.departure-board .animated:nth-child(22):after {
  animation: flip 1s 1 ease-in-out;
  animation-delay: 5.5s;
  animation-fill-mode: forwards;
  backface-visibility: hidden;
  transition-delay: 5.5s;
  transform-style: preserve-3d;
}

.departure-board .animated:nth-child(23):before {
  animation: flip 1s 1 ease-in-out;
  animation-delay: 5.75s;
  animation-fill-mode: forwards;
  backface-visibility: hidden;
  transform-style: preserve-3d;
  transition-delay: 5.75s;
}

.departure-board .animated:nth-child(23):after {
  animation: flip 1s 1 ease-in-out;
  animation-delay: 5.75s;
  animation-fill-mode: forwards;
  backface-visibility: hidden;
  transition-delay: 5.75s;
  transform-style: preserve-3d;
}

.departure-board .animated:nth-child(24):before {
  animation: flip 1s 1 ease-in-out;
  animation-delay: 6s;
  animation-fill-mode: forwards;
  backface-visibility: hidden;
  transform-style: preserve-3d;
  transition-delay: 6s;
}

.departure-board .animated:nth-child(24):after {
  animation: flip 1s 1 ease-in-out;
  animation-delay: 6s;
  animation-fill-mode: forwards;
  backface-visibility: hidden;
  transition-delay: 6s;
  transform-style: preserve-3d;
}

.departure-board .animated:nth-child(25):before {
  animation: flip 1s 1 ease-in-out;
  animation-delay: 6.25s;
  animation-fill-mode: forwards;
  backface-visibility: hidden;
  transform-style: preserve-3d;
  transition-delay: 6.25s;
}

.departure-board .animated:nth-child(25):after {
  animation: flip 1s 1 ease-in-out;
  animation-delay: 6.25s;
  animation-fill-mode: forwards;
  backface-visibility: hidden;
  transition-delay: 6.25s;
  transform-style: preserve-3d;
}

.departure-board .animated:nth-child(26):before {
  animation: flip 1s 1 ease-in-out;
  animation-delay: 6.5s;
  animation-fill-mode: forwards;
  backface-visibility: hidden;
  transform-style: preserve-3d;
  transition-delay: 6.5s;
}

.departure-board .animated:nth-child(26):after {
  animation: flip 1s 1 ease-in-out;
  animation-delay: 6.5s;
  animation-fill-mode: forwards;
  backface-visibility: hidden;
  transition-delay: 6.5s;
  transform-style: preserve-3d;
}

.departure-board .animated:nth-child(27):before {
  animation: flip 1s 1 ease-in-out;
  animation-delay: 6.75s;
  animation-fill-mode: forwards;
  backface-visibility: hidden;
  transform-style: preserve-3d;
  transition-delay: 6.75s;
}

.departure-board .animated:nth-child(27):after {
  animation: flip 1s 1 ease-in-out;
  animation-delay: 6.75s;
  animation-fill-mode: forwards;
  backface-visibility: hidden;
  transition-delay: 6.75s;
  transform-style: preserve-3d;
}

.departure-board .animated:nth-child(28):before {
  animation: flip 1s 1 ease-in-out;
  animation-delay: 7s;
  animation-fill-mode: forwards;
  backface-visibility: hidden;
  transform-style: preserve-3d;
  transition-delay: 7s;
}

.departure-board .animated:nth-child(28):after {
  animation: flip 1s 1 ease-in-out;
  animation-delay: 7s;
  animation-fill-mode: forwards;
  backface-visibility: hidden;
  transition-delay: 7s;
  transform-style: preserve-3d;
}

.departure-board .animated:nth-child(29):before {
  animation: flip 1s 1 ease-in-out;
  animation-delay: 7.25s;
  animation-fill-mode: forwards;
  backface-visibility: hidden;
  transform-style: preserve-3d;
  transition-delay: 7.25s;
}

.departure-board .animated:nth-child(29):after {
  animation: flip 1s 1 ease-in-out;
  animation-delay: 7.25s;
  animation-fill-mode: forwards;
  backface-visibility: hidden;
  transition-delay: 7.25s;
  transform-style: preserve-3d;
}

.departure-board .animated:nth-child(30):before {
  animation: flip 1s 1 ease-in-out;
  animation-delay: 7.5s;
  animation-fill-mode: forwards;
  backface-visibility: hidden;
  transform-style: preserve-3d;
  transition-delay: 7.5s;
}

.departure-board .animated:nth-child(30):after {
  animation: flip 1s 1 ease-in-out;
  animation-delay: 7.5s;
  animation-fill-mode: forwards;
  backface-visibility: hidden;
  transition-delay: 7.5s;
  transform-style: preserve-3d;
}

.departure-board .animated:nth-child(31):before {
  animation: flip 1s 1 ease-in-out;
  animation-delay: 7.75s;
  animation-fill-mode: forwards;
  backface-visibility: hidden;
  transform-style: preserve-3d;
  transition-delay: 7.75s;
}

.departure-board .animated:nth-child(31):after {
  animation: flip 1s 1 ease-in-out;
  animation-delay: 7.75s;
  animation-fill-mode: forwards;
  backface-visibility: hidden;
  transition-delay: 7.75s;
  transform-style: preserve-3d;
}

.departure-board .animated:nth-child(32):before {
  animation: flip 1s 1 ease-in-out;
  animation-delay: 8s;
  animation-fill-mode: forwards;
  backface-visibility: hidden;
  transform-style: preserve-3d;
  transition-delay: 8s;
}

.departure-board .animated:nth-child(32):after {
  animation: flip 1s 1 ease-in-out;
  animation-delay: 8s;
  animation-fill-mode: forwards;
  backface-visibility: hidden;
  transition-delay: 8s;
  transform-style: preserve-3d;
}

.departure-board .animated:nth-child(33):before {
  animation: flip 1s 1 ease-in-out;
  animation-delay: 8.25s;
  animation-fill-mode: forwards;
  backface-visibility: hidden;
  transform-style: preserve-3d;
  transition-delay: 8.25s;
}

.departure-board .animated:nth-child(33):after {
  animation: flip 1s 1 ease-in-out;
  animation-delay: 8.25s;
  animation-fill-mode: forwards;
  backface-visibility: hidden;
  transition-delay: 8.25s;
  transform-style: preserve-3d;
}

.departure-board .animated:nth-child(34):before {
  animation: flip 1s 1 ease-in-out;
  animation-delay: 8.5s;
  animation-fill-mode: forwards;
  backface-visibility: hidden;
  transform-style: preserve-3d;
  transition-delay: 8.5s;
}

.departure-board .animated:nth-child(34):after {
  animation: flip 1s 1 ease-in-out;
  animation-delay: 8.5s;
  animation-fill-mode: forwards;
  backface-visibility: hidden;
  transition-delay: 8.5s;
  transform-style: preserve-3d;
}

.departure-board .animated:nth-child(35):before {
  animation: flip 1s 1 ease-in-out;
  animation-delay: 8.75s;
  animation-fill-mode: forwards;
  backface-visibility: hidden;
  transform-style: preserve-3d;
  transition-delay: 8.75s;
}

.departure-board .animated:nth-child(35):after {
  animation: flip 1s 1 ease-in-out;
  animation-delay: 8.75s;
  animation-fill-mode: forwards;
  backface-visibility: hidden;
  transition-delay: 8.75s;
  transform-style: preserve-3d;
}

.departure-board .animated:nth-child(36):before {
  animation: flip 1s 1 ease-in-out;
  animation-delay: 9s;
  animation-fill-mode: forwards;
  backface-visibility: hidden;
  transform-style: preserve-3d;
  transition-delay: 9s;
}

.departure-board .animated:nth-child(36):after {
  animation: flip 1s 1 ease-in-out;
  animation-delay: 9s;
  animation-fill-mode: forwards;
  backface-visibility: hidden;
  transition-delay: 9s;
  transform-style: preserve-3d;
}

.departure-board .animated:nth-child(37):before {
  animation: flip 1s 1 ease-in-out;
  animation-delay: 9.25s;
  animation-fill-mode: forwards;
  backface-visibility: hidden;
  transform-style: preserve-3d;
  transition-delay: 9.25s;
}

.departure-board .animated:nth-child(37):after {
  animation: flip 1s 1 ease-in-out;
  animation-delay: 9.25s;
  animation-fill-mode: forwards;
  backface-visibility: hidden;
  transition-delay: 9.25s;
  transform-style: preserve-3d;
}

.departure-board .animated:nth-child(38):before {
  animation: flip 1s 1 ease-in-out;
  animation-delay: 9.5s;
  animation-fill-mode: forwards;
  backface-visibility: hidden;
  transform-style: preserve-3d;
  transition-delay: 9.5s;
}

.departure-board .animated:nth-child(38):after {
  animation: flip 1s 1 ease-in-out;
  animation-delay: 9.5s;
  animation-fill-mode: forwards;
  backface-visibility: hidden;
  transition-delay: 9.5s;
  transform-style: preserve-3d;
}

.departure-board .animated:nth-child(39):before {
  animation: flip 1s 1 ease-in-out;
  animation-delay: 9.75s;
  animation-fill-mode: forwards;
  backface-visibility: hidden;
  transform-style: preserve-3d;
  transition-delay: 9.75s;
}

.departure-board .animated:nth-child(39):after {
  animation: flip 1s 1 ease-in-out;
  animation-delay: 9.75s;
  animation-fill-mode: forwards;
  backface-visibility: hidden;
  transition-delay: 9.75s;
  transform-style: preserve-3d;
}

.departure-board .animated:nth-child(40):before {
  animation: flip 1s 1 ease-in-out;
  animation-delay: 10s;
  animation-fill-mode: forwards;
  backface-visibility: hidden;
  transform-style: preserve-3d;
  transition-delay: 10s;
}

.departure-board .animated:nth-child(40):after {
  animation: flip 1s 1 ease-in-out;
  animation-delay: 10s;
  animation-fill-mode: forwards;
  backface-visibility: hidden;
  transition-delay: 10s;
  transform-style: preserve-3d;
}

.departure-board .animated:nth-child(41):before {
  animation: flip 1s 1 ease-in-out;
  animation-delay: 10.25s;
  animation-fill-mode: forwards;
  backface-visibility: hidden;
  transform-style: preserve-3d;
  transition-delay: 10.25s;
}

.departure-board .animated:nth-child(41):after {
  animation: flip 1s 1 ease-in-out;
  animation-delay: 10.25s;
  animation-fill-mode: forwards;
  backface-visibility: hidden;
  transition-delay: 10.25s;
  transform-style: preserve-3d;
}

.departure-board .animated:nth-child(42):before {
  animation: flip 1s 1 ease-in-out;
  animation-delay: 10.5s;
  animation-fill-mode: forwards;
  backface-visibility: hidden;
  transform-style: preserve-3d;
  transition-delay: 10.5s;
}

.departure-board .animated:nth-child(42):after {
  animation: flip 1s 1 ease-in-out;
  animation-delay: 10.5s;
  animation-fill-mode: forwards;
  backface-visibility: hidden;
  transition-delay: 10.5s;
  transform-style: preserve-3d;
}

.departure-board .animated:nth-child(43):before {
  animation: flip 1s 1 ease-in-out;
  animation-delay: 10.75s;
  animation-fill-mode: forwards;
  backface-visibility: hidden;
  transform-style: preserve-3d;
  transition-delay: 10.75s;
}

.departure-board .animated:nth-child(43):after {
  animation: flip 1s 1 ease-in-out;
  animation-delay: 10.75s;
  animation-fill-mode: forwards;
  backface-visibility: hidden;
  transition-delay: 10.75s;
  transform-style: preserve-3d;
}

.departure-board .animated:nth-child(44):before {
  animation: flip 1s 1 ease-in-out;
  animation-delay: 11s;
  animation-fill-mode: forwards;
  backface-visibility: hidden;
  transform-style: preserve-3d;
  transition-delay: 11s;
}

.departure-board .animated:nth-child(44):after {
  animation: flip 1s 1 ease-in-out;
  animation-delay: 11s;
  animation-fill-mode: forwards;
  backface-visibility: hidden;
  transition-delay: 11s;
  transform-style: preserve-3d;
}

.departure-board .animated:nth-child(45):before {
  animation: flip 1s 1 ease-in-out;
  animation-delay: 11.25s;
  animation-fill-mode: forwards;
  backface-visibility: hidden;
  transform-style: preserve-3d;
  transition-delay: 11.25s;
}

.departure-board .animated:nth-child(45):after {
  animation: flip 1s 1 ease-in-out;
  animation-delay: 11.25s;
  animation-fill-mode: forwards;
  backface-visibility: hidden;
  transition-delay: 11.25s;
  transform-style: preserve-3d;
}

.departure-board .animated:nth-child(46):before {
  animation: flip 1s 1 ease-in-out;
  animation-delay: 11.5s;
  animation-fill-mode: forwards;
  backface-visibility: hidden;
  transform-style: preserve-3d;
  transition-delay: 11.5s;
}

.departure-board .animated:nth-child(46):after {
  animation: flip 1s 1 ease-in-out;
  animation-delay: 11.5s;
  animation-fill-mode: forwards;
  backface-visibility: hidden;
  transition-delay: 11.5s;
  transform-style: preserve-3d;
}

.departure-board .animated:nth-child(47):before {
  animation: flip 1s 1 ease-in-out;
  animation-delay: 11.75s;
  animation-fill-mode: forwards;
  backface-visibility: hidden;
  transform-style: preserve-3d;
  transition-delay: 11.75s;
}

.departure-board .animated:nth-child(47):after {
  animation: flip 1s 1 ease-in-out;
  animation-delay: 11.75s;
  animation-fill-mode: forwards;
  backface-visibility: hidden;
  transition-delay: 11.75s;
  transform-style: preserve-3d;
}

.departure-board .animated:nth-child(48):before {
  animation: flip 1s 1 ease-in-out;
  animation-delay: 12s;
  animation-fill-mode: forwards;
  backface-visibility: hidden;
  transform-style: preserve-3d;
  transition-delay: 12s;
}

.departure-board .animated:nth-child(48):after {
  animation: flip 1s 1 ease-in-out;
  animation-delay: 12s;
  animation-fill-mode: forwards;
  backface-visibility: hidden;
  transition-delay: 12s;
  transform-style: preserve-3d;
}

.departure-board .animated:nth-child(49):before {
  animation: flip 1s 1 ease-in-out;
  animation-delay: 12.25s;
  animation-fill-mode: forwards;
  backface-visibility: hidden;
  transform-style: preserve-3d;
  transition-delay: 12.25s;
}

.departure-board .animated:nth-child(49):after {
  animation: flip 1s 1 ease-in-out;
  animation-delay: 12.25s;
  animation-fill-mode: forwards;
  backface-visibility: hidden;
  transition-delay: 12.25s;
  transform-style: preserve-3d;
}

.departure-board .animated:nth-child(50):before {
  animation: flip 1s 1 ease-in-out;
  animation-delay: 12.5s;
  animation-fill-mode: forwards;
  backface-visibility: hidden;
  transform-style: preserve-3d;
  transition-delay: 12.5s;
}

.departure-board .animated:nth-child(50):after {
  animation: flip 1s 1 ease-in-out;
  animation-delay: 12.5s;
  animation-fill-mode: forwards;
  backface-visibility: hidden;
  transition-delay: 12.5s;
  transform-style: preserve-3d;
}

@keyframes flip {
  0% {
    color: #000;
    transform: rotateX(0deg);
  }
  10% {
    content: "S";
    transform: rotateX(180deg);
  }
  20% {
    color: #e8d32a;
    content: "S";
    transform: rotateX(360deg);
  }
  30% {
    color: #e8d32a;
    content: "";
    transform: rotateX(0deg);
  }
  40% {
    color: #e8d32a;
    content: "P";
    transform: rotateX(180deg);
  }
  50% {
    color: #e8d32a;
    content:"∆";
    transform: rotateX(360deg);
  }
  60% {
    content: "D";
    transform: rotateX(0deg);
  }
  70% {
    color: #e8d32a;
    content: "D";
    transform: rotateX(180deg);
  }
  80% {
    color: #e8d32a;
    content: "R";
    transform: rotateX(360deg);
  }
  90% {
    color: #e8d32a;
    content: "P";
    transform: rotateX(0deg);
  }
  100% {
    color: #e8d32a;
    transform: rotateX(360deg);
  }
}

@media (max-width: 576px) {
  .view {
    padding: 26px 0;
  }
}